.side-bar {
    width: 20%;
    border: 1px solid black;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    font-family: monospace;
    background-color: rgba(128, 128, 128, .7);

    &:hover{
       background-color: rgba(128, 128, 128, .5) ;
       transition: .7s;
    }
}

.side-bar h2 {
    margin: 40px;

}

#sidebar-ul{
    padding:0px;
    box-sizing: content-box;
}

#sidebar-li {
   display: block;
    margin-bottom: 30px;
    padding-bottom:  20px;
     border: 1px solid transparent;
     box-sizing: content-box;
     font-family: monospace;
     font-size: 15px;
     font-weight: bolder;
     color: white;
    &:hover {
color: black;
        border-bottom: 1px solid orangered;
transition: .7s;
    }
}